@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #8b5cf6;
  --font-display: "Funnel Display", system-ui, sans-serif;

  --max-width-divider: 1270px;
  --max-width-content: 1136px;
}

@layer base {
  body {
    font-family: var(--font-display);
    color: white;
  }
}

@layer components {
  .container-content {
    max-width: var(--max-width-content);
    margin-inline: auto;
    width: 100%;
  }

  .container-wide {
    max-width: var(--max-width-divider);
    margin-inline: auto;
    width: 100%;
  }
}
